<header class="app-header">
  <div class="grid-xl">
    <div class="app-header__grid">
        <img src="https://www.lasaugrenue.fr/templates/yootheme/cache/LOGO_BLANC_ROND_GRIS_CLAIR_TRANSPARENT-de7ec971.webp" />
    </div>

  </div>
</header>
